.salonlar{
    display: flex;
    flex-wrap: wrap;
    a{
        margin:10px;
        width: 30%;
        img.salonlar-image{
            height: 300px;
            width: 100%;
        }
    }
}
.salon-slide{
    position: relative;
    &-basliq{
        position: absolute;
        bottom: 5%;
        left: 2%;
        background-color: whitesmoke;
        font-size: 24px;
    }
}